<h2>Import Shipping Addresses</h2>

<%= form_tag import_shippings_path, multipart: true do %>
  <%= file_field_tag :file, :accept => 'text/csv'%><br/><br/>
  <%= submit_tag "Import" %>
<% end %>

<br/>

<%= paginate @shippings %>
<% if @shippings.count > 0 %>
<table>
  <tr>
    <th><%= link_to "First Name", :sort => "first_name"%> </th>
    <th><%= link_to "Last Name", :sort => "last_name"%> </th>
    <th><%= link_to "Address", :sort => "address"%></th>
    <th><%= link_to "City", :sort => "city"%></th>
    <th><%= link_to "State", :sort => "state"%></th>
    <th><%= link_to "Zip Code", :sort => "zip_code"%></th>
  </tr>
<% end %>
  <% @shippings.each do |shipping|%>
    <tr>
      <td><%= shipping.first_name%></td>
      <td><%= shipping.last_name%></td>
      <td><%= shipping.address%></td>
      <td><%= shipping.city%></td>
      <td><%= shipping.state%></td>
      <td><%= shipping.zip_code%></td>
    </tr>
    <%end%>
</table>
